/* * {
	box-sizing: border-box;
} */
@keyframes glow {
    0%, 100% {
        text-shadow:
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff,
            0 0 60px #00ffff,
            0 0 80px #00ffff;
    }
    50% {
        text-shadow:
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 30px #00ffff,
            0 0 50px #00ffff,
            0 0 70px #00ffff,
            0 0 100px #00ffff;
    }
}

@keyframes glow-red {
    0%, 100% {
        text-shadow:
            0 0 5px #ff0040,
            0 0 10px #ff0040,
            0 0 20px #ff0040,
            0 0 40px #ff3366,
            0 0 60px #ff3366,
            0 0 80px #ff3366;
    }
    50% {
        text-shadow:
            0 0 10px #ff0040,
            0 0 20px #ff0040,
            0 0 30px #ff0040,
            0 0 50px #ff3366,
            0 0 70px #ff3366,
            0 0 100px #ff3366;
    }
}




html,
body {
	height: 100vh;
	width: 100vw;
    
}

.fade-image {
    height: 100%; /* Altura visible deseada */   
    overflow: hidden;
    position: relative;
    display: flex;
  }
  
.fade-image img {
    width: 100%;
    height: 100%;
    object-fit: block;

    /* Degradado desde transparente a opaco y luego otra vez a transparente */
    -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 20%, black 80%, transparent 95%);
    mask-image: linear-gradient(to bottom, transparent 5%, black 20%, black 80%, transparent 95%);
    z-index: 0;
  }

.fade-image .buttonProd {
    position: absolute;
    bottom: 45%;
    left: 10%;
    z-index: 1;
    }

.fade-image .buttonWho {
    position: absolute;
    bottom: 45%;
    right: 10%;
    z-index: 1;
    }

.image-text {
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -210%);
    color: white;
    font-size: 2.2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    width: 90%;
    font-weight:bold;    
    }

.image-text2 {
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(12%, -220%);
    color: white;
    font-size: 2.2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    width: 90%;
    font-weight:bold;    
    }

.image-textProd {
    position: absolute;
    top: 65%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -210%);

    background: linear-gradient(90deg, #f8f8f8, #19e9f8); /* Degradado horizontal */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    width: 90%;
    font-weight:bold;    
    }

.contenido-formulario {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    max-width: 600px;
    padding: 20px;
    z-index: 1;
    text-align: center;
    border-radius: 15px;
    }
      
.texto-con-clip {
    font-size: 1.8rem;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    }
      
#sugerenciaForm input,
#sugerenciaForm textarea,
#sugerenciaForm button {
    color: white;
    background: hsl(var(--background-secondary-dark));
    width: auto;
    height: auto;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
    


    /* Texto blanco en los campos de entrada y texto dentro del formulario */
#sugerenciaForm label {
    font-weight:bold;
    color: black;
    }


nav {
	margin: 0;
	display: flex;
    position: relative;
    width: 100%;
    margin-top: 0.5%;
	
    justify-content: center;
    /* align-items: center; */
	background-color: #222;
	font-family: system-ui, sans-serif;
}

nav,
.nav-item {
	display: flex;
}

nav {
	border-radius: 6px;
	background-image: linear-gradient(
		rgb(48, 48, 48) 13%,
		rgb(30, 30, 30) 40%,
		#0c0d11 86%
	);
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
}

.nav-item {
	flex-direction: row-reverse;
	font-size: 0.8999rem;
	line-height: 1rem;
	align-items: center;
	min-width: 120px;
	justify-content: space-between;
	transition: all 80ms ease;
 
    text-shadow: 0 -2px 0 black;
    box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
    transition: all 0.3s ease-in-out;

	&.active {
		text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
	}

	&:not(.active):hover {
        color: rgba(255, 255, 255, 0.97);
        text-shadow:
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff;
	}

	&:hover > .icon .subicon {
		height: 32px;
		width: 32px;
		border-radius: 32px;
		top: -16px;
		right: -16px;
		border-color: white;
	}

	&:not(:first-of-type) {
		border-left: 1px solid rgb(60, 60, 60);
	}
	&:not(:last-of-type) {
		border-right: 0.1rem solid black;
	}

    .nav-item.profile {
        margin-left: auto; 
     }

    #logout-link:hover {
        animation: glow-red 1.5s ease-in-out infinite;
        color: #ff0040; /* color del texto */
    }

	a {
		color: inherit;
		text-decoration: none;
		padding: 1ch;
	}

	.icon {
		padding: 1ch;
		position: relative;

		/* .subicon {
			text-shadow: none;
			transition: all 40ms ease;
			position: absolute;
			top: -3px;
			right: -3px;
			background: red;
			color: white;
			box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
			width: 18px;
			height: 18px;
			border-radius: 14px;
			font-size: 0.7em;
			font-weight: 700;
			display: inline-grid;
			place-items: center;
			border: 2px solid mix(white, red);
		} */
	}

	.icon > svg {
		max-width: 16px;
	}

}

:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}

/* ===========
    Variabels
   =========== */

/* ===============
    Global Styles
   =============== */

*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--black));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ============
    Typography
   ============ */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 5%;
    margin-left: 5%;
    text-align: center;
    color: white;
    font-family: 'Audiowide', cursive;
    background: linear-gradient(90deg, #00ffe7, #a100ff); /* Degradado horizontal */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 15px rgb(57, 218, 247); /* Sombra intensa */

}
#Textopagina {
    text-align: center;
    margin-left: 20%;
}
/* Font Size */
h1 {
    font-size: var(--heading-large);
}
h2 {
    font-size: var(--heading-medium);
}
h3 {
    font-size: var(--heading-small);
}
h4 {
    font-size: calc(var(--heading-small) - .2rem);
}
h5 {
    font-size: calc(var(--heading-small) - .4rem);
}
h6 {
    font-size: calc(var(--heading-small) - .6rem);
}
/* Font Weight */
h1, h2 {
    font-weight: 900;
}
h3, h4, h5, h6 {
    font-weight: 800;
}
/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}
/* Links */
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}

/* =========
    Buttons
   ========= */

button {
    padding: .5em;
    border: 1px solid hsl(var(--black));
    background-color: hsl(var(--background));
    font-size: auto;
    cursor: pointer;
    outline: none;
    height: 8%;
    width: 10%;
    border-radius: 6px;
    background-image: linear-gradient(
        rgba(217, 223, 224, 0.61) 13%,
        rgb(187, 166, 166) 40%,
        #0c0d11 86%
    );
    color: rgb(39, 231, 245);
    text-shadow: 0 -2px 0 black;
    box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
    transition: all 0.5s ease-in-out;
    }

button.active {
    text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
}

button:hover {
    color: #ffffff;
    animation: glow 1.5s ease-in-out infinite;
}
button:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}

.buttonLog {
    width: 80%;
    margin: 5%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* =======
    Lists
   ======= */

ul, ol {
    margin: 1em 0;
}

/* =======
    Forms
   ======= */

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Ajustes mínimos a los inputs y textarea que ya tienes */
input, textarea {
    border-radius: 6px;
    color: hsl(var(--black));
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
}

/* Labels */
label {
    color: hsl(var(--white));
    font-weight: 500;
    margin-bottom: 0.3em;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
input, textarea {
    transition: all .2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 2px solid transparent;
}
select {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}

a {
    color: #007bff;
}

.dropdown {
    position: relative;
 }
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(var(--background-secondary-dark));
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 8px;
}
 
.dropdown-content a {
    color: hsl(var(--black));
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}
 
 .dropdown-content a:hover {
    background-color: hsl(var(--background-secondary-dark));
    color: white;
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
 }

 .login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(var(--background-secondary-dark));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-container p {
    color: hsl(var(--white));
}

.new-Acc form{
    margin-left:10%;
}

.new-Acc input {
    width: 40%;  
}

.new-Acc button {
    margin: 2%;
}

.new-Acc p {
    color: hsl(var(--white));
    margin-left: 10%;  
}

/* =========
    Classes
   ========= */

/* ================
    Global classes
   ================ */

/* =========
    Flexbox
   ========= */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}
.navbar-logo > .navbar-item-inner > svg {
    height: 2em;
    fill: hsl(var(--white));
}
/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}
#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

/* ======
    Main
   ====== */

#main {
    margin: 0 0 0 5em;
    min-height: 150vh;
}
#main > h2 {
    width: 80%;
    max-width: 80%;
}
#main > p {
    width: 80%;
    max-width: 80%;
}

/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* **********
**  FOOTER  **
************ */
.footercontainer {
    text-align:center;
    background-color: hsl(var(--background-secondary-dark));
    max-width: 1400px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 2%;
    padding: 20px; /* Agrega un espacio interno alrededor del contenido */
    border-radius: 10px; 
}

.footercontainer p{
    color: whitesmoke;
    padding-top: 1%;
}


.imfooter {
    object-fit: contain;
    height: 150px; /* Ajusta la altura según sea necesario */
    width: 280px; /* Ajusta el ancho según sea necesario */
}

.footerinfo {
    display: flex;
    justify-content:space-around;
    background-color: hsl(var(--background-secondary-light));
    padding-top: 5px;
    padding: 30px; /* Agrega un espacio interno alrededor del contenido */
    border-radius: 10px; 
    margin-top: 20px; /* Agrega un margen superior */
    max-width: 1100px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
}

.footerinfo ul {
    margin-right: 30px; 
    list-style: none;
    padding: 0;
}

.listafooter li {
    margin-bottom: 5px;
    color: whitesmoke;
}

.listafooter {
    list-style: none;
    padding: 0;
  }
  
footer h3{
    font-size: larger;
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {
        width: 80%;
    }
}
@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 75%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }
    .view-width {
        width: calc(100% - 5em);
    }
}
@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}
@media only screen and (max-width: 496px) {

}
